.progress-box {
  display: inline-block;
  margin-left: 20px;

  .progress-circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 9px solid rgba(255, 255, 255, 1);

    //margin-right: -27px
    vertical-align: middle;
    display: inline-block;
    position: relative;
    z-index: 99;
  }

  .progress-loading {
    width: 94px;
    height: 32px;
    border-radius: 16px;
    margin-left: -27px;
    background: rgba(255, 255, 255, 1);
    vertical-align: middle;
    display: inline-block;
    position: relative;
    z-index: 1;

    .progress-loading-in {
      height: 30px;
      width: 0px;
      boder-width: 1px 0px;
      border-color: rgba(255, 255, 255, 1);
      border-style: solid;
      border-radius: 16px;
    }
  }
}
